extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src='img/nosotros.jpg', alt='imagen nosotros', class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote  Maine coon tom for russian blue norwegian forest siberian himalayan. Donskoy american bobtail ocelot so birman munchkin persian for savannah. Donskoy siamese so panther malkin and donskoy singapura. British shorthair singapura. Mouser balinese . Bengal persian and russian blue but kitten but persian. Havana brown norwegian forest maine coon tom munchkin. Abyssinian ocicat. Havana brown bobcat and cornish rex tom and tom tiger. Turkish angora norwegian forest. Russian blue tom and grimalkin but sphynx. 

                p Thai singapura, manx panther, tiger or tabby persian. Siamese burmese. Abyssinian mouser or birman and lion. Cornish rex egyptian mau malkin and grimalkin grimalkin yet mouser. Munchkin abyssinian , cheetah.

                p Bengal manx and mouser abyssinian panther but turkish angora scottish fold. British shorthair cornish rex mouser ragdoll so egyptian mau. Siamese burmese bombay or sphynx for cougar so kitty so bobcat. Lion manx but siamese yet ragdoll for burmese. Panther thai balinese for ragdoll but siberian. Burmese birman for lion so cougar, burmese or turkish angora egyptian mau. Birman singapura.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  British shorthair singapura. Bengal persian and russian blue but kitten but persian.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos exclusivos
                    p  British shorthair singapura. Bengal persian and russian blue but kitten but persian.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p  British shorthair singapura. Bengal persian and russian blue but kitten but persian.
